* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%; /* Make sure header takes full width */
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
  position: fixed; /* Fix header at the top */
  top: 0;
  left: 0;
  background-color: rgb(200, 243, 247);
  z-index: 1000; /* Ensure header stays above other content */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container {
  padding: 90px;

  display: flex;
  background-color: rgb(250, 250, 250);
  width: 80%;
  max-width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: center;
  text-align: center;
  margin-top: 60px; /* Add margin to account for fixed header height */
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

button {
  align-self: flex-start; /* Align button to the start of the flex container */
}
nav a {
  color: #000000; /* Set text color to white */
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px; /* Add padding to the links */
  border-radius: 5px; /* Add border radius for rounded corners */
  position: relative; /* Add position relative for pseudo-elements */
}

nav a:before,
nav a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: "";
  background: #000000;
  transition: all 0.3s;
}

nav a:before {
  left: 0px;
  top: 0px;
}

nav a:after {
  right: 0px;
  bottom: 0px;
}

nav a:hover:before,
nav a:hover:after {
  opacity: 1;
  width: 100%;
}

/* Thin scrollbar */
.container {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.036); /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.container::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.container::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.container::-webkit-scrollbar-thumb {
  background: #0c0c0c; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.container::-webkit-scrollbar-thumb:hover {
  background: #99999946; /* Thumb color on hover */
}
