* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

/* Replace <uniquifier> with a unique and descriptive class name */
/* Replace <weight> with a value from 100 to 900 */

body {
  font-family: "Helevetica", sans-serif;
  font-size: 18px;
  line-height: 26px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(200, 243, 247);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.introduction {
  margin-top: 200px;
}

.container {
  padding: 90px;
  background-color: rgb(250, 250, 250);
  width: 80%;
  max-width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 60px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.card {
  width: 320px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 16px;
  background-color: #edf4ff;
  color: rgb(100, 100, 100);
}

.card img {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image covers the entire area, maintaining aspect ratio */
}

.card p {
  padding: 16px;
  margin: 0;
  font-size: 1em;
  color: #333;
}

button {
  align-self: flex-start;
}

nav a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
}

nav a:before,
nav a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: "";
  background: #000000;
  transition: all 0.3s;
}

nav a:before {
  left: 0px;
  top: 0px;
}

nav a:after {
  right: 0px;
  bottom: 0px;
}

nav a:hover:before,
nav a:hover:after {
  opacity: 1;
  width: 100%;
}

/* Thin scrollbar */
.container {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.036);
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: #0c0c0c;
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #99999946;
}
