* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Helevetica", sans-serif;
  font-size: 18px;
  line-height: 26px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 50px;
  height: 40px;
  background-color: rgb(251, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

main {
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction {
  margin-top: 60px;
  max-width: 400px;
  height: 100px;
  padding-bottom: 2px;
  text-align: center;
}

.container {
  padding: 90px;
  background-color: rgb(250, 250, 250);
  width: 80%;
  max-width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 60px;
  height: calc(100% - 60px);
  overflow: hidden;
  overflow-y: auto;
}

#news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

nav a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
}

nav a:before,
nav a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: "";
  background: #000000;
  transition: all 0.3s;
}

nav a:before {
  left: 0px;
  top: 0px;
}

nav a:after {
  right: 0px;
  bottom: 0px;
}

nav a:hover:before,
nav a:hover:after {
  opacity: 1;
  width: 100%;
}

.card {
  width: 320px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card h2 {
  font-size: 1em;
  margin: 0;
  padding: 16px;
  background-color: #edf4ff;
  color: rgb(100, 100, 100);
}

.card img {
  width: 100%;
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image covers the entire area, maintaining aspect ratio */
}

.card p {
  padding: 16px;
  margin: 0;
  font-size: 0.8em;
  color: #333;
}
